/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

@tailwind components;

@tailwind utilities;

/* social-links */
.social-link {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.twitter:hover {
  border-color: #1da1f2;
  color: #1da1f2;
  box-shadow: 0 0 15px #1da1f2;
}

.github:hover {
  border-color: #181717;
  color: #181717;
  box-shadow: 0 0 15px #181717;
}

.linkedin:hover {
  border-color: #0077b5;
  color: #0077b5;
  box-shadow: 0 0 15px #0077b5;
}

.email:hover {
  border-color: #000000;
  color: #000000;
  box-shadow: 0 0 15px #000000;
}
