/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

@tailwind components;

@tailwind utilities;

.transiton-ease {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-visible {
  transform: translate(0, 0);
}

.nav-invisible {
  transform: translate(0, -100px);
}

/* social-links */
.twitter:hover {
  color: #1da1f2;
}

.github:hover {
  color: #181717;
}

.linkedin:hover {
  color: #0077b5;
}

.email:hover {
  @apply text-gray-900;
}
