/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

@tailwind components;

@tailwind utilities;

.nav-transiton-ease {
  -webkit-transition: opacity, transform 0.5s ease;
  transition: opacity, transform 0.5s ease;
}

.nav-visible {
  transform: translate(0, 0);
}

.nav-invisible {
  transform: translate(0, -100px);
}
